<!DOCTYPE html>

<html lang="en">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <head>
      <meta charset="utf-8">
      <title>Coffee Flask</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="static/css/style.css">
      <link rel="stylesheet" href="static/css/menu.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <div class="main-nav fixed-top">
      <a href="/" class="active">Home</a>
      <a href="/menu">Menu</a>
      <a href="/contact">Subscribe</a>
      <a href="https://twitter.com/CascalesIngrid?ref_src=twsrc%5Etfw" class="fa fa-twitter" data-show-count="false"/a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://twitter.com/lu_pelizari?ref_src=twsrc%5Etfw" class="fa fa-twitter" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://www.facebook.com/ingrid.cascales" class="fa fa-facebook"  data-show-faces="false" data-share="false"></div></a>
      <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()"> -->
      <i class="fa fa-bars"></i>
    </div>
<!-- /navigation bar -->

<!-- header -->

    <img src="static/images/email.png" class="background-photo img-fluid"alt="coffee beans on white background" >
    <header class="main-header">
      <h1 class="display-8"><font color="grey">Tech meetups and talks!</h1>

    </header>

<div class="container">







</div>

<div class="container">


  <h2>Subscribe to our newsletter</h2>
  <a></a>
  <a> To receive our events monthly calendar </a>
  <a></a>
  <form  action="/email" method="post" role="form">
    <div class="form-group">

      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?">
      <br>
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you.">
      <br>



    </div>
    <button type="submit" class="btn btn-success">Subscribe</button>
  </form>


</div>
</div>
  </body>
  <footer>
    <small>&copy; Copyright 2018, Code First: Girls Final Project</small>
  </footer>
</html>
