<!DOCTYPE html>

<html lang="en">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <head>
    <meta charset="utf-8">
    <title>Coffee Flask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
</style>
img {
    width:100%;
}
</style>
  <body>
<!-- navigation bar -->
    <div class="main-nav fixed-top">
      <a href="/" class="active">Home</a>
      <a href="/menu">Menu</a>
      <a href="/contact">Subscribe</a>
      <a href="https://twitter.com/CascalesIngrid?ref_src=twsrc%5Etfw" class="fa fa-twitter" data-show-count="false"/a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://twitter.com/lu_pelizari?ref_src=twsrc%5Etfw" class="fa fa-twitter" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://www.facebook.com/ingrid.cascales" class="fa fa-facebook"  data-show-faces="false" data-share="false"></a>
      <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()"> -->
      <i class="fa fa-bars"></i>
    </div>
<!-- /navigation bar -->

<!-- header -->

<div>
    <img src="static/images/coffeilus2.jpg" class="background-image img-fluid" alt="coffee beans on white background">
      <header class="main-header">
        <h1 class="display-12">Coffee Flask</h1>
        <p class="lead">A space dedicated to Coffee, Technology and Community</p>
      </header>

</div>
<!-- /header -->

<!-- images + text -->

    <div class="container pt-4">
      <div class="row">
        <!-- img 1 - coffee -->
        <div class="col-md mb-4">
          <img src="static/images/milk.jpeg" alt="filtered coffee" class="rounded content-image">
          <div class='contentWrapper'>
            <h4>Now Pouring: Ethiopian Yirgacheffe</h4>
            <p>Yirgacheffe is a Mocha coffee bean, and is grown in a particularly favourable sub region of Sidamo in Southern Ethiopia.</p>
          </div>
        </div>

        <!-- img 2 - pastry -->
        <div class="col-sm mb-4">
          <img src="static/images/dough.jpg" alt="croissant on white background" class="rounded content-image">
          <div class='contentWrapper'>
            <h4>Freshly Baked pastries</h4>
              <p>A classic! Did you know the croissant is actually an Austrian pastry? Interesting as most people think of France when referring to one of the most favourite breakfast pastries in the western world.</p>
          </div>
        </div>

        <!-- img 3 - dairy -->
        <div class="col-md mb-4">
          <img src="static/images/balloon.jpg" alt="latte art" class="rounded content-image">
          <div class='contentWrapper'>
            <h4>Talks and Workshops</h4>
            <p>We host a series of inspiring talks, meetups and workshops about technology and innovation.</p>
          </div>
        </div>

      </div>
    </div>
<!-- /images + text -->

  </body>

  <footer>
    <small>&copy; Copyright 2018, Code First: Girls Final Project</small>
  </footer>

</html>
