<!DOCTYPE html>

<html lang="en">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

  <head>
    <meta charset="utf-8">
    <title>Coffee Flask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

<!-- navigation bar -->

    <div class="main-nav fixed-top">
      <a href="/" class="active">Home</a>
      <a href="/menu">Menu</a>
      <a href="/contact">Subscribe</a>
      <a href="https://twitter.com/CascalesIngrid?ref_src=twsrc%5Etfw" class="fa fa-twitter" data-show-count="false"/a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://twitter.com/lu_pelizari?ref_src=twsrc%5Etfw" class="fa fa-twitter" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <a href="https://www.facebook.com/ingrid.cascales" class="fa fa-facebook"  data-show-faces="false" data-share="false"></div></a>
      <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()"> -->
      <i class="fa fa-bars"></i>
    </div>

<!-- /navigation bar -->

<!-- header -->

<!-- /header -->

    <!-- images + text -->

    <div class="menu-body">

    <!-- Item starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Espresso
      </div>
      <div class="menu-item-price">
        £2.00
      </div>
    </div>
    <!-- Item ends -->

    <!-- Item starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Cappuccino
      </div>
      <div class="menu-item-price">
        £3.00
      </div>
    </div>
    <!-- Item ends -->

    <!-- Item starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Americano
      </div>
      <div class="menu-item-price">
        £2.50
      </div>

    </div>
    <!-- Item ends -->
    <div class="menu-item">
      <div class="menu-item-name">
        Latte
      </div>
      <div class="menu-item-price">
        £3.00
      </div>
    </div>

    <div class="menu-item">
      <div class="menu-item-name">
        Matcha Lattee
      </div>
      <div class="menu-item-price">
        £4.00
      </div>
    </div>

    <div class="menu-item">
      <div class="menu-item-name">
        Turmeric+Coconut Lattee
      </div>
      <div class="menu-item-price">
        £4.00
      </div>
    </div>
    <!-- Item starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Croissant
      </div>
      <div class="menu-item-price">
        £1.50
      </div>
    </div>
    <!-- Item ends -->

    <!-- Item starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Raspberry Pie
      </div>
      <div class="menu-item-price">
        £3.14
      </div>
    </div>
    <!-- Item ends -->

    </div>

<!-- /images + text -->

  </body>

  <footer>
    <small>&copy; Copyright 2018, Code First: Girls Final Project</small>
  </footer>

</html>
